.home {
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
  justify-content: space-between;

  transition: 1s;

  overflow: hidden;
  /* color: white; */
}

.page-header {
  position: relative;

  padding: 0 10vw;
  align-items: flex-end;

  width: 55%;
  height: 100%;

  box-sizing: border-box;

  background-color: #ececec;

  transition:transform 1s;

  z-index: 100;
}

.home.opened .page-header{
  padding: 0;
  transform: translateX(150%);
}

.page-header h1 {
  font-size: 48px;
  text-align: right;

  margin-bottom: 5px;
}

.page-header h3 {
  font-size: 26px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 30px;
}

.page-header .text {
  font-size: 16px;

  margin: 7px 0;

  text-align: right;
}

.home .bg-image {
  background-image: url('../images/img1.jpg');

  width: 40%;
  height: 100%;

  visibility: hidden;
}

.home .bg-video{
  position: absolute;
  left: 0;
  top: 0;

  min-height: 100%;

  transform: translateX(-40%);

  transition: 1s;

  z-index: 0;
}

.home .tap-icon{
  position: absolute;

  bottom: 5vh;
  left: 5vh;

  z-index: 500;
}

.home.opened .bg-video{
  width: 100%;
  transform: translateX(0%);
}

.home .next-section {
  position: relative;
  margin-top: 50px;
  transition: .5s;
}

.home .next-section:hover {
  cursor: pointer;
  color: #447604;
}

.home .scroll-down-arrow {
  width: 35px;

  position: absolute;
  top: 200%;
  left: 50%;

  transform: translateX(-50%);

  animation: bounce 2s infinite;

}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }

  40% {
    transform: translate(-50%, -10px);
  }

  60% {
    transform: translate(-50%, -5px);
  }
}

@media (max-width: 1024px){
  .home{
    align-items: center;
  }

  .home .page-header{
    align-items: center;
    width: 100%;
    height: auto;

    padding: 0;

    color: #ececec;

    background-color: transparent;
  }

  .home .page-header h1{
    text-align: center;
    font-size: 42px;
  }

  .home .text{
    text-align: center;
  }

  .home .bg-video{
    display: none;
  }

  .home .bg-image{
    display: block;

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    visibility: visible;

    filter: brightness(0.5);

    z-index: 100;

  }

  .home .tap-icon{
    display: none;
  }

  .home .scroll-down-arrow{
    display: none;
  }
}