.home {
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
  justify-content: space-between;

  /* color: white; */
}

.page-header {
  padding: 0 10vw;
  align-items: flex-end;

  width: 60%;

  box-sizing: border-box;
}

.page-header h1 {
  font-size: 54px;
  text-align: right;
}

.page-header h3 {
  font-size: 28px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 30px;
}

.page-header .text {
  font-size: 16px;

  text-align: right;
}

.home .bg-image {
  background-image: url('../images/img1.jpg');

  width: 40%;
  height: 100%;
}

.home .next-section {
  position: absolute;
  bottom: 18vh;
  right: 10vw;

  transition: .5s;
}

.home .next-section:hover {
  cursor: pointer;
  color: #447604;
}

.home .scroll-down-arrow {
  width: 35px;

  position: absolute;
  top: 200%;
  left: 50%;

  transform: translateX(-50%);

  animation: bounce 2s infinite;

}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }

  40% {
    transform: translate(-50%, -10px);
  }

  60% {
    transform: translate(-50%, -5px);
  }
}