.info {
  width: 100%;
  min-height: 100vh;
  padding: 120px;

  box-sizing: border-box;

  background-color: #B0B6A4;

  position: relative;
}

.info .content {
  justify-content: space-between;
  width: 60vw;
}

.info h2 {
  font-weight: 500;
  margin: 5px 0;

}

.info h3 {
  font-weight: 500;
  margin: 5px 0;
}

.info .single-location {
  margin: 10px;
}

.info .contact img {
  margin-right: 8px;
}

.info .locations {
  margin-top: 100px;
}

.info .icons-author {
  position: absolute;
  bottom: 0;
}

.info .map{
  width: 450px;
  height: 300px;
}

@media (max-width: 1024px){
  .info .maps {
    flex-direction: column;
  }

  .info .map{
    width: 80vw;
    height: 300px;
  }
}