body {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: Sora;

  background-color: #ececec;

  scroll-behavior: smooth;

  overflow: hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 54px;
  font-weight: 700;

  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #555C46;
}

.text {
  font-size: 18px;
  text-align: center;
  margin: 6px;
}

.section {
  box-sizing: border-box;
  background-color: #ececec;
}

.bg-image {
  background-size: cover;
  background-position: 0 30%;

  /* filter: grayscale(0.6) brightness(1.5); */
  /* opacity: 0.2;
  filter: contrast(1.3); */
}

.loading {
  width: 100%;
  height: 100vh;

  background-color: #ececec;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 5500;

  transition: .7s;
}

.dot {

  width: 5px;
  height: 5px;

  margin: 3px;

  border-radius: 50%;

  background-color: #000;

  animation: loading-animation 1s infinite;
}

#second {
  animation-delay: .25s;
}

#third {
  animation-delay: .5s;
}

@keyframes loading-animation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50%,
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1024px){
  .bg-image{
    display: none;
  }

  .section{
    justify-content: center;
  }
}