.offer {
  width: 100%;
  height: 70vh;

  justify-content: space-between;
}

.offer .content {
  padding: 10vw;
  box-sizing: border-box;
}

.offer h1 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;

}

.offer h3 {
  margin: 0;
  margin-top: 20px;
  text-align: left;

}

.offer h5 {
  margin: 0;
  color: #447604;
}



.category-title {
  font-size: 24px;
}

.offer .christmas-trees {
  margin-right: 100px;
  align-items: flex-start;
}

.offer .decorative-trees {
  align-items: flex-end;
}

.offer-option {
  position: relative;

  width: 50%;
  height: 100%;


  transition: .5s;
}

.offer-option:hover {
  width: 75%;

}

.offer-option h1 {
  color: #ececec;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 101;

  transition: .4s;
}

.offer-option .content {
  width: 100%;
  height: 0%;

  position: absolute;
  bottom: 0;
  left: 0;

  padding: 0;

  z-index: 100;

  background-color: rgba(236, 236, 236, .7);

  overflow: hidden;

  transition: .5s;
}


@media (min-width: 1025px){
  .offer-option:hover>.content {
    height: 100%;
  }
  
  .offer-option:hover>h1 {
    top: 10%;
  
    color: black;
    font-size: 30px;
  }
}


.offer .bg-image {
  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0;
}

.offer .right-image {
  right: 0;
  background-image: url('../images/img2.jpg');
}

.offer .left-image {
  left: 0;
  background-image: url('../images/img5.jpg');
}


@media (max-width: 1320px){
  .offer{
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: auto;
  }

  .offer-option{
    width: 100%;

    margin-top: 100px;
  }

  .offer h1{
    font-size: 42px;
  }

  .offer .right-image,
  .offer .left-image,
  .offer .bg-image{
    display: none;
  }

  .offer-option .content{
    position: static;
    height: auto;

    padding: 0 10vw;

    background-color: transparent;
  }

  .offer-option h1{
    position: static;

    color: black;
    font-size: 36px;

    transform: none;
  }
}