.prices {
  width: 100%;
  height: 80vh;
}

.prices .content {
  padding: 5vh 10vw;
  box-sizing: border-box;

  width: 55%;

  align-items: flex-end;
}

.prices .bg-image {
  width: 20%;
  height: 100%;
}

#image1{
  background-image: url('../images/img8.jpg');
}

#image2{
  background-image: url('../images/img7.jpg');
  width: 25%;

}

.price {
  font-size: 16px;
  margin: 7px 0;
}