.sale {
  width: 100%;
  padding: 10vh 10vw;

  box-sizing: border-box;

  position: relative;
}

.sale .text {
  margin: 0 50px;
  margin-bottom: 100px;
  text-align: center;

  width: 450px;
}

.sale .center-text{
  width: auto;
}

.sale .bg-image {
  background-image: url('../images/img3.jpg');

  width: 40%;
  height: 100%;
}

.options{
  transform: translateY(-15px);
}

.arrow{

  width: 100px;
  height: 140px;

  border-top: 2px solid black;

}

.left-text .arrow{
  border-left: 2px solid black;
  transform: translate(50%, -40px);

}

.right-text .arrow{
  border-right: 2px solid black;
  height: 206px;
  transform: translate(-50%, -40px);
}

.background-image{
  position: absolute;

  bottom: 0;
  left: 10vw;

  height: 80%;

  opacity: 0.1;
}

@media (max-width: 1024px){
  .sale{
    height: auto;

    padding: 0 10vw;
  }

  .sale .content{
    width: 100%;
    align-items: center;
  }

  .sale h1{
    text-align: center;
  }

  .sale .text{
    text-align: center;
    margin: 20px 0;

    width: 100%;
  }

  .sale .options{
    margin: 0;
    flex-direction: column;
  }

  .arrow{
    display: none;
  }

  .sale .background-image{
    transform: translateX(25%);
  }
}